* {
  /*font-family: monaco;*/
}
.carousel-inner{
    width: 100%;
}
.main_content_left{
    height: 501px;
    width: 501px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 35px;
    /*border: 2px solid black;*/

}
.img_container{
    display: inline-block;
    vertical-align: top;
}
body{
    padding-top: 70px;
    background-color: #e67e22!important;
}
.banner_text{
    text-align: center;
    color: #3B1F03;
}
.carousel{
    border: 8px ridge #f1c40f;
    border-radius: 5px;
}
.navbar-default{
    color: #74E8E8!important;
}
.left_content_image{
    display: inline-block;
    border-radius: 6px;
    border: 6px double white;
}
.main_content_right{
    display: inline-block;
    vertical-align: top;
    height: 500px;
    width: 550px;
}
.main_content{
    display: inline-block;
}
.right_content_text{
    font-size: 28px;
    vertical-align: top;
    text-align: center;
    background-color: #f1c40f;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 5px;
}
.right_content_paragraph{
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.navbar-default {
    background-color: #27ae60;
}
.calendar_div{
    margin-left: 150px;
    border-radius: 10px;
    margin-top: 35px;
    border: 8px groove black;
    display: inline-block;
}
